<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Welcome to RESTful Central</title>
</head>
<body>
  <h1>Welcome to RESTful Central</h1>
  <h2>Available features of this site:</h2>
  <ul>
    <li><a href="/entry">Message board with times and dates!</a></li>
  </ul>
</body>
</html>