<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>RESTful Central</title>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div id="container">
  <h1>RESTful Central: The Official Site.</h1>
  @RenderBody()
  @await Html.PartialAsync("Footer")
  </div>
</body>
</html>