<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <title>Create New Message for @DateTime.Now.ToShortDateString()</title>
</head>
<body>
  <form action="/entry" method="post">
    <label for="name">Enter name:</label>
    <input type="text" id="name" name="name">
    <label for="message">Enter message:</label>
    <input type="text" id="message" name="message">
    <button type="submit">Click here to add your message to @DateTime.Now.ToShortDateString()</button>
  </form>
</body>
</html>