@{
  Layout = "_Layout";
}
<h2>More info about this message:</h2>
<div class="msgFull">
  <h2>Name: @Model.Name</h2>
  <h2>Date posted: @Model.Date</h2>
  <h2>Time posted: @Model.Time</h2>
  <h2>Message body: @Model.Message</h2>
</div>
<a href="/entry">Back to view all entries</a>
